.top-nav {
    position: fixed;
    top: 1rem;
    right: 1rem;
    display: flex;
    gap: 1rem;
}

.bottom-nav {
    position: fixed;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
}

.nav-link {
    text-decoration: none;
    font-weight: bold;
    color: #6f6e6e;
}

.nav-link:hover {
    text-decoration: underline;
     color: #a59595;
}