.link-nav {
    text-decoration: none;
    font-weight: bold;
    color: #6f6e6e;
    padding: 20px 20px 20px 20px;
    display: flex;
    /*text-align: center;*/
}

.link-nav:hover {
      text-decoration: underline;
      color: #a59595;
}